body::before {
  background-size: auto !important;
  background-repeat: repeat !important;
  background-position: top !important;
}

.icon-button[disabled].svelte-zmy5ws, .icon-button[disabled].svelte-zmy5ws:hover {
  background-color: none !important;
}
