:root {
    --canvas: transparent !important;
    --border-subtle: transparent !important;
    --ui-font:"FOT-Seurat Pro", "Untitled Sans", "Segoe UI", "Helvetica Neue", "Helvetica", "Open Sans","Lucida Sans", arial, sans-serif !important; /* FOT-Seurat Pro B*/;
    --primary-font-color:#81715c;
}

body::before {
  background-size: auto !important;
  background-repeat: repeat !important;
  background-position: top !important;
}

/* remove top border from new anki 2.1.55+ styling */
table {
  border-top: none !important;
}

#outer {
  border-top: none !important;
}

/* All buttons at the bottom of the review screen
   (including the "Edit" and "More" button) */

button {
    box-sizing: border-box !important;
    color: var(--primary-font-color);
    height: 6.5rem;
    width: 6.5rem;
    font-size: 0.695rem !important;
    border-radius: 50% !important;
    outline: none;
    cursor: pointer;
    background: #fffbe7 !important;
    border: none !important;
    text-transform: lowercase;
    position:relative;
    -webkit-touch-callout: none; /* disable default tooltip in WebKit-based browsers, or at-least try to in Anki's browser */
}

button:hover {
  background: #00c8ba !important;
  color: white !important;
}

button:focus {
  border: 3px dotted #ece1be !important;
}


/* the "Show Answer" button */
#ansbut {
    height: 6rem;
    width: 360px !important;
    border-radius: 8px !important;
    /* margin-top: 1rem; */
}


/* All rating buttons */
/* #middle button {
    width: 96px;
    color: white;
} */

/* the "Good" button */
#defease {
    height: 6rem;
    width: 174px !important;
    border-radius: 8px !important;
    /* margin-top: 1rem; */
}

#defease:hover {
  background: #01c101 !important;
}

/* the "Again" button */
button[onclick*="ease1"]:not(#defease) {
    height: 6rem;
    width: 174px !important;
    border-radius: 8px !important;
    /* margin-top: 1rem; */
}

button[onclick*="ease1"]:not(#defease):hover{
  background: #F79539 !important;
}
button[onclick*="ease1"]:not(#defease):focus{
  border: 1px solid #F79539 !important;
}

/* these buttons are unavailable with the pass/fail add-on */

/* the "Hard" button */
/* button[onclick*="ease2"]:not(#defease) {
    background-color: #455A64 !important;
} */

/* the "Easy" button */
/* button[onclick*="ease3"]:not(#defease),
button[onclick*="ease4"]:not(#defease) {
    background-color: #03A9F4 !important;
} */

/* the "Edit" button */
/* button[onclick*="edit"] {
} */

/* the "More" button */
/* button[onclick*="more"] {
} */


/* More Button */
tr > td.stat:last-child > button:hover {
  background: #DD71F9 !important;
  color: #181002 !important;
  /* background: #00FFB9 !important; */
}

tr > td.stat:last-child > button:focus {
  border: 1px solid #DD71F9 !important;
  /* border: 1px solid #00FFB9 !important; */
}

/* Edit Button */
td.stat:first-child > button:hover {
  background: #5ED7F7 !important;
  /* background: #3900FF !important;
  color: white !important; */
}

td.stat:first-child > button:focus {
  border: 1px solid #5ED7F7 !important;
  /* border: 1px solid #3900FF !important; */
}

/* More Time Button (Anki Add-on)*/
td#spdfControls > button:hover {
    background: orange !important;
}

/* center all buttons */
tr {
    display: flex;
    justify-content: center;
    gap: 0.75rem;
}

/* remove edit and more buttons when window is too small */

@media screen and (max-width: 585px) {
  td.stat {
    display: none !important;
  }
  #ansbut {
    width: 95vw !important;
  }
  button[onclick*="ease1"]:not(#defease) {
      width: 45vw !important;
  }
  #defease {
      width: 45vw !important;
  }
}

/* button tooltip */
button:not([title=""]):hover::before {
  content: attr(title);
  background-color: #333;
  color: #fff;
  font-size: 0.975em;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  white-space: nowrap;
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
  transform: translate(-50%, calc(100% + 5px));
  left: 50%;
  visibility: visible;
  transition: all 0.3s ease-out, visibility 0s linear 3s;
}

button:not([title=""]):hover::before {
  opacity: 1;
  transition-delay: 3s;
}

/* button text & text above toolbar */
button,
button > span,
.new-count,
.learn-count,
.review-count {
  font-family: var(--ui-font);
  font-weight: 700;
}

button > span {
  font-weight: 700;
  color: var(--primary-font-color);
}

/* timer appearance for the speed focus Anki add-on */
span#spdfTime:not(:empty) {
  display: inline-block;
  top: 10px;
  background: #fffbe5;
  border: 3px solid orange;
  border-radius: 17px;
  padding: 2px 12px;
  color: orange;
  font-family: "nintendoP_Humming-E_002pr";
  font-weight: 700;
  font-size: 0.975em;
}

span.stattxt {
  background: #bba83e;
  border-radius: 17px;
  padding: 0px 14px;
  top: 4px;
}

span.stattxt > * {
  color: #fffbe5 !important;
}

td#spdfControls {
  margin-right: 3rem;
}

/* remove the "more" button because the speed focus add-on is installed...*/

td.stat:last-child {
  display: none;
}
